---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/ee93e08078.js" crossorigin="anonymous"></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		<title>AI Utility</title>
	</head>
	<body>
	<nav class="bg-gray-900 border-gray-200 dark:bg-gray-900 dark:border-gray-700 ">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
	  	<a href="#" class="flex items-center space-x-3 rtl:space-x-reverse cursor-default">
		  	<img src="/icon.png" class="h-20" alt="Flowbite Logo" />
	  	</a>
	  	<button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
		  	<span class="sr-only">Open main menu</span>
		  	<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
			  	<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
		  	</svg>
	  	</button>
	  	<div class="hidden w-full md:block md:w-auto " id="navbar-dropdown">
			<ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border  bg-gray-900 border-gray-100 rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:dark:bg-gray-900 dark:border-gray-700">
		  	<li>
				<a href="#home" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">Home</a>
		  	</li>
		  	<li>
			  	<button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Image<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
	  	<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
		</svg></button>
			  <!-- Dropdown menu -->
			  <div id="dropdownNavbar" class="z-10 hidden font-normal  divide-y divide-gray-100 rounded-lg shadow w-44 bg-gray-700 dark:divide-gray-600">
				  <ul class="py-2 text-sm text-white dark:text-gray-400" aria-labelledby="dropdownLargeButton">
					<li>
					  <a href="#image_to_image" class="block px-4 py-2 hover:bg-gray-100  hover:text-black">Image to Image </a>
					</li>
					<li>
					  <a href="#" class="block px-4 py-2 hover:bg-gray-100  hover:text-black">Image to text </a>
					</li>
				  </ul>
			  </div>
		  </li>
		  <li>
			<button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Text<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
			  </svg></button>
					<!-- Dropdown menu -->
					<div id="dropdownNavbar" class="z-10 hidden font-normal  divide-y divide-gray-100 rounded-lg shadow w-44 bg-gray-700 dark:divide-gray-600">
						<ul class="py-2 text-sm text-gray-700  dark:text-gray-400" aria-labelledby="dropdownLargeButton">
						  <li>
							<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Text to Image </a>
						  </li>
						  <li>
							<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Text to Speech </a>
						  </li>
						</ul>
					</div>
		  </li>
		  <li>
			<a href="#" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 text-white md:dark:hover:bg-transparent">Contact</a>
		  </li>
		</ul>
	  </div>
	</div>
	</nav>

	<section class="flex flex-col justify-center items-center bg-black text-white h-screen text-center" id="home" >
		<h1 class="text-6xl p-5 text-teal-300 " > Welcome to AI Utility </h1>
		<p class="text-xl animate-pulse "> The best tool to improve your creativity </p>
		<i class="fa-solid fa-gear fa-spin mt-5 text-3xl"  style="color: #ffffff;"></i>
	</section>

	<section class="flex flex-col justify-start items-center bg-black text-white h-screen text-center " id="image_to_image" >
		<h1 class="text-4xl p-5 text-teal-300 " > Generate an image with an image </h1>
		<div class=" flex flex-row flex-grow w-full">
			<div class=" flex w-full justify-center">
				<h2 class="text-3xl"> Insert Image </h2>
			</div>

			<div class= "flex w-full justify-center">
				<h2 class="text-3xl"> Result </h2>
			</div>
		</div>
	</section>


	</body>
</html>
